name: Generate snake

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *" # every day at 00:00 UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate snake SVG
        uses: Platane/snk@v3
        with:
          github_user_name: arrrzushi
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=%23A020F0
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=%23A020F0

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
